body{background-color:#ff9933 ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;}
div{background-color: aliceblue;
     margin-left: 150px;
    margin-right: 150px ;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
    float:none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;}
    

ul{list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#b35900 ;}
li { display:inline-block;
float: none;}
  
li a {display:block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
    text-shadow: -2px -2px 0px #666, 2px 2px 0px rgb(131, 131, 131);}

li a:hover {background-color:#4d2600 ;}